<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="600">
    <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/normalize.css" | prepend: site.baseurl }}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/layout.css" | prepend: site.baseurl }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/web-intro.css" | prepend: site.baseurl }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/github-light.css" | prepend: site.baseurl }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/syntax.css" | prepend: site.baseurl }}" media="screen">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>