
/* fixes to the layout styles */

a code {
  color: #1e6bb8 !important;
}

/* our custom styles */

header .active {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

a.next-chapter {
  display: block;
  font-size: 150%;
  text-align: center;
}

.fork-me img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

@media screen and (max-width: 42em) {
  .fork-me {
    display: none;
  }
}

.social > div {
  display: inline;
  margin-right: 12px;
}
.social > .facebook {
  position: relative;
  top: -7px;
}
